In [10]:
li = [1, 2, 3, 4]
print(4 in li)

True

In [11]:
tpl = (1, 2, 3, 4)
print(4 in tpl)

True

In [12]:
dt = {1: "one", 2: "two", 3: "there"}
print(1 in dt)
print("one" in dt)
print("one" in dt.values())
print("four" in dt.values())

True
False
True
False

In [14]:
li = [1, 2, 3, 4]
for item in li:
    print(item)

1
2
3
4